<footer class="footer">
    <nav class="container">
      <div>
        <img 
       width="150px" src="../../../assets/svg/logo_yard_sale.svg"/>
      </div>
      <div>
      <h3 class="title">Conócenos</h3>
      <ul class="link">
        <li class="li">
         
          <a
            class="p"
            href="https://adalab.es"
            target="_blank"
            >Trabaja con Nosotros</a
          >
        </li>
        <li class="li">
          <a
            class="p"
            href="https://adalab.es"
            target="_blank"
            >Sobre YardSale.com</a
          >
        </li>
        <li class="li">
          <a
            class="p"
            href="https://adalab.es"
            target="_blank"
            >Sostenibilidad</a
          >
        </li>   
      </ul>
    </div>
  
 <div>
      <h3 class="title">Métodos de pago YardSale</h3>
      <ul class="link">
        <li class="li">
          <a
            class="p"
            href="https://adalab.es"
            target="_blank"
            >Métodos de pago</a
          >
        </li>
        <li class="li">
          <a
            class="p"
            href="https://adalab.es"
            target="_blank"
            >Conversor de divisas de YardSale</a
          >
        </li>
        <li class="li">
            <a
              class="p"
              href="https://adalab.es"
              target="_blank"
              >Cheques Regalo</a
            >
          </li>
          <li class="li">
            <a
              class="p"
              href="https://adalab.es"
              target="_blank"
              >Recarga Online</a
            >
          </li>
          <li class="li">
            <a
              class="p"
              href="https://adalab.es"
              target="_blank"
              >Recarga en Tienda</a
            >
          </li>
      </ul>
    </div>
  
   <div>
      <h3 class="title">¿Necesitas ayuda?</h3>
      <ul class="link" style="list-style: none">
        <li class="li">
          <a
            class="p"
            href="https://adalab.es"
            target="_blank"
            >help@yardsale.com</a
          >
        </li>
      
        <li class="li">
            <a
              class="p"
              href="https://adalab.es"
              target="_blank"
              >Localizar o gestionar compras</a
            >
          </li>
          <li class="li">
            <a
              class="p"
              href="https://adalab.es"
              target="_blank"
              >Tarifas y políticas de envío</a
            >
          </li>
          <li class="li">
            <a
              class="p"
              href="https://adalab.es"
              target="_blank"
              >Devolver productos</a
            >
          </li>
          <li class="li">
            <a
              class="p"
              href="https://adalab.es"
              target="_blank"
              >Gestionar contenido y dispositivos</a
            >
          </li>
      </ul>
    </div>
  </nav>
  <nav class="container">
    <p class="pnav">Condiciones de Uso y Venta </p>
    <p class="pnav">Área legal</p>
    <p class="pnav">Aviso de privacidad</p>
    <p class="pnav">Cookies</p>
    <p class="pnav">© 2022, YardSale.com, Inc. o sus afiliados</p>
  </nav>
    
  
  </footer>
  