<footer class="footer">
    <nav class="container1__items">
      
      <h3 class="container1__items__title">Conócenos</h3>
      <ul class="container1__items__link">
        <li>
         
          <a
            class="container1__items__link__p"
            href="https://adalab.es"
            target="_blank"
            >Trabaja con Nosotros</a
          >
        </li>
        <li>
          <a
            class="container1__items__link__p"
            href="https://adalab.es"
            target="_blank"
            >Sobre YardSale.com</a
          >
        </li>
        <li>
          <a
            class="container1__items__link__p"
            href="https://adalab.es"
            target="_blank"
            >Sostenibilidad</a
          >
        </li>   
      </ul>
    </nav>
  
    <nav class="container2__items">
      <h3 class="container2__items__title">Métodos de pago YardSale</h3>
      <ul class="container2__items__link">
        <li>
          <a
            class="container2__items__link__p"
            href="https://adalab.es"
            target="_blank"
            >Métodos de pago</a
          >
        </li>
        <li>
          <a
            class="container2__items__link__p"
            href="https://adalab.es"
            target="_blank"
            >Conversor de divisas de YardSale</a
          >
        </li>
        <li>
            <a
              class="container2__items__link__p"
              href="https://adalab.es"
              target="_blank"
              >Cheques Regalo</a
            >
          </li>
          <li>
            <a
              class="container2__items__link__p"
              href="https://adalab.es"
              target="_blank"
              >Recarga Online</a
            >
          </li>
          <li>
            <a
              class="container2__items__link__p"
              href="https://adalab.es"
              target="_blank"
              >Recarga en Tienda</a
            >
          </li>
      </ul>
    </nav>
  
    <nav class="container3__items">
      <h3 class="container3__items__title">¿Necesitas ayuda?</h3>
      <ul class="containe3r__items__link" style="list-style: none">
        <li>
          <a
            class="container3__items__link__p"
            href="https://adalab.es"
            target="_blank"
            >help@yardsale.com</a
          >
        </li>
      
        <li>
            <a
              class="container3__items__link__p"
              href="https://adalab.es"
              target="_blank"
              >Localizar o gestionar compras</a
            >
          </li>
          <li>
            <a
              class="container3__items__link__p"
              href="https://adalab.es"
              target="_blank"
              >Tarifas y políticas de envío</a
            >
          </li>
          <li>
            <a
              class="container3__items__link__p"
              href="https://adalab.es"
              target="_blank"
              >Devolver productos</a
            >
          </li>
          <li>
            <a
              class="container3__items__link__p"
              href="https://adalab.es"
              target="_blank"
              >Gestionar contenido y dispositivos</a
            >
          </li>
      </ul>
  
    </nav>
  
  </footer>
  