<footer class="footer">
    <nav class="container">
      <div>
        <img 
       width="150px" src="../../../assets/svg/logo_yard_sale.svg"/>
      </div>
      <div>
      <h3 class="title">About us</h3>
      <ul class="link">
        <li class="li">
         
          <a
            class="p"
            href="https://adalab.es"
            target="_blank"
            >Work with us</a
          >
        </li>
        <li class="li">
          <a
            class="p"
            href="https://adalab.es"
            target="_blank"
            >YardSale.com</a
          >
        </li>
        <li class="li">
          <a
            class="p"
            href="https://adalab.es"
            target="_blank"
            >Sustainability</a
          >
        </li>   
      </ul>
    </div>
  
 <div>
      <h3 class="title">YardSale payment methods</h3>
      <ul class="link">
        <li class="li">
          <a
            class="p"
            href="https://adalab.es"
            target="_blank"
            >
            Methods of payment</a
          >
        </li>
        <li class="li">
          <a
            class="p"
            href="https://adalab.es"
            target="_blank"
            >YardSale Currency Converter</a
          >
        </li>
        <li class="li">
            <a
              class="p"
              href="https://adalab.es"
              target="_blank"
              >Gift Vouchers</a
            >
          </li>
          <li class="li">
            <a
              class="p"
              href="https://adalab.es"
              target="_blank"
              >Online Recharge</a
            >
          </li>
          <li class="li">
            <a
              class="p"
              href="https://adalab.es"
              target="_blank"
              >In-Store Refill</a
            >
          </li>
      </ul>
    </div>
  
   <div>
      <h3 class="title">Do you need assistance?</h3>
      <ul class="link" style="list-style: none">
        <li class="li">
          <a
            class="p"
            href="https://adalab.es"
            target="_blank"
            >help@yardsale.com</a
          >
        </li>
      
        <li class="li">
            <a
              class="p"
              href="https://adalab.es"
              target="_blank"
              >Locate or manage purchases</a
            >
          </li>
          <li class="li">
            <a
              class="p"
              href="https://adalab.es"
              target="_blank"
              >Shipping rates and policies</a
            >
          </li>
          <li class="li">
            <a
              class="p"
              href="https://adalab.es"
              target="_blank"
              >Return products</a
            >
          </li>
          <li class="li">
            <a
              class="p"
              href="https://adalab.es"
              target="_blank"
              >Manage content and devices</a
            >
          </li>
      </ul>
    </div>
  </nav>
  <nav class="container">
    <p class="pnav">Conditions of Use and Sale </p>
    <p class="pnav">Legal area</p>
    <p class="pnav">Privacy Notice</p>
    <p class="pnav">Cookies</p>
    <p class="pnav">© 2022, YardSale.com, Inc. or its affiliates</p>
  </nav>
    
  
  </footer>
  