.products--grid{
  display: flex;
  flex-direction: column;
  margin:20px;
}

.section{
  display: flex;
  
}

.topay{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  @media all and (min-width: 768px) {
    flex-direction: row;
  }
 
}

.products{
  margin-left: 20px;
  padding-top: 10px;
  font-weight: bold;
  width: 200px;
  height: 30px;
  text-align: center;
  background-color: rgb(173,216,179	);
}

.pay{
  margin-left: 20px;
  font-weight: bold;
  padding-top: 10px;
  width: 200px;
  height: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.301);
}

.listproducts{
  margin-top: 10px;
  margin-left: 20px;
}

//medias
@media screen and (min-width: 40em) and (max-width: 63.9em) {
  .products--grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}

@media screen and (min-width: 64em) {
  .products--grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}
