/* You can add global styles to this file, and also import other style files */
@import url(./styles/reset.scss);
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf");
  }

* {
  font-family: 'Quicksand','Roboto';
}

.products--grid {
  app-img {
    width: 200px;
    display: flex;
    justify-content: center;
    img {
      border-radius: 10px;
      max-height: 200px;
    }
  }
}

